body {
  background-color: #F7FAFC !important;
}
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9A0C13;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 3, 3);
}
.link {
  font-weight: 500;
  color: white;
}
.link:hover{
  background-color: #808080;
  border-radius: 5px;
}
/* Specific styles for active links */
.link-active {
  font-weight: 700;
  color: white !important;
  background: #BC0B0B;
  
  border-radius: 5px;
}

/* upload thumbnail*/
.upload-title {
  color: transparent;
}
/* .upload-title::-webkit-file-upload-button {
  visibility: hidden;
} */
.upload-title::after {
  content: 'Upload thumbnail';
  color: gray;
  display: inline-block;
  padding: 10px 0 0 0px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.1rem;
}
/* upload trailer */
.upload-trailer {
  color: transparent;
}
/* .upload-trailer::-webkit-file-upload-button {
  visibility: hidden;
} */
.upload-trailer::after {
  content: 'Upload trailer';
  color: gray;
  display: inline-block;
  padding: 10px 0 0 0px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.1rem;
}

.css-pkpkxn{
  padding: 0 !important;
}

/* season select */


.season-options:hover {
background: red !important;
color: white;
}

/* multi select */

.rmsc .dropdown-container {
  border : 1px solid black !important;
  height: 45px !important;
  border-radius: 6px !important;
}

.rmsc .gray {
  color: gray !important;
}